.carousel{
  width: 80%;
  height: 300px;
  margin-top: 20px;
}

.cardImg{
  width: 80%;
  height: 300px;
}

//.grommetux-box.grommetux-box--direction-row.grommetux-box--responsive.grommetux-box--pad-none{

//}
//.grommetux-box.grommetux-box--direction-row.grommetux-box--responsive.grommetux-box--pad-none{
//    background-color: pink;
//}